# Xcode

# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode
#1
trigger:
- CI-CD # branch name
 
pool:
#2 virtual os image

  vmImage: 'macos-latest'
#3 variable used in program   
variables:
  scheme: 'NJEZPass'
  sdk: 'iphoneos'
  configuration: 'Release'

#4 Install Certificates  .. go to library under the pipelines tabs on right section . under the secure file ... Pipelines/Library/SecrureFiles
steps:
- task: InstallAppleCertificate@2
  inputs:
    certSecureFile: 'SharadCert.p12'
    certPwd: 'CTS@1234'

#5 Install Provisning profile  .. go to library under the pipelines tabs on right section . under the secure file ... Pipelines/Library/SecrureFiles

- task: InstallAppleProvisioningProfile@1
  inputs:
    provisioningProfileLocation: 'secureFiles'
    provProfileSecureFile: 'NJEZPassDev.mobileprovision'
     

#6 Install pod 
- task: CocoaPods@0
  inputs:
    forceRepoUpdate: true
    projectDirectory: 'NJEZPass' #$(system.defaultWorkingDirectory)/NJEZPass
    displayName: 'pod install using the CocoaPods task with a forced repo update and a custom project directory'
  

# - script: echo This is pipeline $(build.artifactStagingDirectory) $(system.defaultWorkingDirectory)

#7 Run build and make ipa
- task: Xcode@5
  inputs:
    actions: 'build'
    packageApp: true
    archivePath: '$(build.artifactStagingDirectory)'
    xcWorkspacePath: 'NJEZPass/NJEZPass.xcworkspace'
    configuration: '$(configuration)'
    scheme: '$(scheme)'
    signingOption: 'manual' # auto,manual,default
    useXcpretty: true   
    exportOptions: 'plist' # Optional. Options: auto, plist, specify
    exportMethod: 'development' # Required when exportOptions == Specify
    exportOptionsPlist: 'exportOptions.plist' # Required when exportOptions == Plist
    teamId: 'JZFGZ22Z6S'
    provisioningProfileName: 'NJEZPassDev'
    xcodeVersion: 'default'

    
#8 Copy the ipa from the produced build and then paste it into Artificate
- task: CopyFiles@2
  inputs:
    contents: '**/*.ipa'
    targetFolder: '$(build.artifactStagingDirectory)'

#9 Publish Artificates folder 
- task: PublishBuildArtifacts@1
  inputs:
      pathToPublish: '$(build.artifactStagingDirectory)'
      artifactName: 'outputs'
      artifactType: 'container'


#10 App Center Publish 

- task: AppCenterDistribute@3
  inputs:
    serverEndpoint: 'App_Center_NJEZPass-iOS' # Variable
    appSlug: 'anujkumar.singh-conduent.com/NJ-EZ-Pass-iOS' # Variable
    appFile: '**/*.ipa'
    releaseNotesOption: 'input'
    releaseNotesInput: 'App Releases'
    destinationType: 'groups'

#11 App Center Publish     

- task: CopyFilesOverSSH@0
  inputs:
      sshEndpoint: 'CTI_Server'
      sourceFolder: '$(build.artifactStagingDirectory)'
      contents: '**'
      targetFolder: '/var/www/html/upload/NJEZPass/ios'
      clean: false
      cleanContents: false
      preservePaths: false
      trustSSL: true